ユーザが検索前に検索タスクに対していだく，乳製品は高血圧に効果的であると信じるかどうかという事前の信念と文書の内容が一致するか相反するかという文書の意見（opinion），また，その文書がどの程度信じられると感じるかという文書の信憑性（credibility）という２つの要因に着目する．本研究の目的は，これらの要因とユーザの検索行動や意思決定との関係を明らかにすることで，ユーザがこれまでよりも慎重に情報を精査するようなランキングをどのように実現すべきかという問いに対する示唆を得ることである